<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/v4-shims.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/frontHeader')%>
    <div class="container mt-5">
        <div class="row">
            
        </div>
    </div>
  <%-include('partials/frontJs')-%>
  <script src="/js/GS.Front.js"></script>
</body>
</html>