<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body onload="document.preMeeting.submit()">
    <form method="POST" action="/checkMeeting" name="preMeeting" id="form_preMeeting">
        <input type="hidden" name="meetingType" value="join">
        <input type="hidden" name="meetingId" value="<%=meetingId%>">
    </form>
</body>
</html>