*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: #fefefe;
  height: 100%;
}
@font-face {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: normal;
  src: local('Caviar Dreams'), url('/fonts/CaviarDreams.woff') format('woff');
  }
.marT3{margin-top:3px;}
.marT5{margin-top:5px;}
.marT7{margin-top:7px;}
.marT10{margin-top:10px;}
.marT15{margin-top:15px;}
.marT18{margin-top:18px;}
.marT20{margin-top:20px;}
.marT25{margin-top:25px;}
.marT30{margin-top:30px;}
.marB5{margin-bottom:5px;}
.marB10{margin-bottom:10px;}
.marB15{margin-bottom:15px;}
.marB20{margin-bottom:20px;}
.marB30{margin-bottom:30px;}
.marL4{margin-left:4px;}
.marL10{margin-left:10px;}
.marL15{margin-left:15px;}
.marL25{margin-left:25px;}
.marL30{margin-left:30px;}
.marR4{margin-right:4px;}
.marR10{margin-right:10px;}
.marR15{margin-right:15px;}
.marR30{margin-right:30px;}

.padd0{padding:0px !important;}
@media(max-width:767px){
.paddLR2{padding-left:2px; padding-right:2px;}
}
.padd4{padding:4px !important;}
.padd8{padding:8px !important;}
.paddTB4{padding-top:4px; padding-bottom:4px;}
.paddTB8{padding-top:8px; padding-bottom:8px;}
.paddTB12{padding-top:12px; padding-bottom:12px;}
.paddTB20{padding-top:20px; padding-bottom:20px;}
.paddT30{padding:30px 0px;}

.fL{float:left}
.fR{float:right}
.fW{width:100%}
.W0{width:0px}
.ilb{display: inline-block}

.font8{font-size:8px;}
.font9{font-size:9px;}
.font10{font-size:10px;}
.font11{font-size:11px;}
.font13{font-size:13px;}
.font15{font-size:15px !important;}
.font16{font-size:16px;}
.font18{font-size:18px !important;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font26{font-size:26px;}
.font35{font-size:35px;}
.font30{font-size:30px;}
.font75{font-size:155px;}
.fontb{font-weight:bold;}
.fontn{font-weight:normal;}
.fontSsp{font-family: 'Source Sans Pro', sans-serif; }
.fontORB {font-family: 'Orbitron', sans-serif;}
.fonta{ font-family: Arial, Helvetica, sans-serif;}
.fontTa{ font-family:Tahoma, Geneva, sans-serif;}
/**** rem ****/
.fontRo { font-family: 'Roboto Condensed', sans-serif; }
.fontO {
    font-family: 'open sans', arial, sans-serif;
}
.txtn{ font-style:normal;}
.txtlt{ text-decoration:line-through;}
.txtul{ text-decoration:underline;}

.height45{  height: 43px; }

.txt-ablack{color: #2F4F2F;}
.txt-wht{color:#FFF;}
@media(min-width:767px){
.c-txt-wht{color:#FFF;}
}
@media(max-width:767px){
.c-txt-wht{color:#878787;}
}
.txt-price{color:rgba(206, 67, 0, 1);}
.txt-gray{color:#77838f !important;}
.txt-dgray{color:rgba(170, 164, 164, 1) !important;}
.txt-agray{color: rgb(213, 213, 213);}
.txt-earn{color: rgb(94,148,53)}


.bg-white{background-color:#FFF;}
.bg-p-gray{background-color: rgba(213, 213, 213,0.2)}
.bg-gray{background-color: #eaeaec;}
.bg-agray{background-color: rgb(213, 213, 213);}

.ltborder-pt{border-left:1px solid rgba(153,153,153,0.7);}
.rtborder-pt{border-right:1px solid #FFF;}
.borderR {
	border-right:1px solid rgba(153,153,153,0.7);
}.borderL {
	border-left:1px solid rgba(153,153,153,0.7);
}
.borderT {
	border-top:1px solid rgba(153,153,153,0.7);
}
.borderB {
	border-bottom:1px solid rgba(153,153,153,0.7);
}
.borderTdm{
    border-top:1px solid #e7e7e7;
}
.borderBdm{
    border-bottom:1px solid #e7e7e7;
}
.box-border{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-boderNr{
  border-radius: 3px;
  border: 1px solid #d2d6de;
}

.mr{ position:  relative; }
.mab{ position: absolute; }
.cp{ cursor: pointer;}

.navbar{
  background-color: #c3e6cb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.navbar-light .navbar-brand {
  font-family: 'Caviar Dreams';
  font-size: 26px;
  font-weight: 700;
  color: #f58e83;
}
.navbar-light .navbar-brand:hover {
  color: rgb(95 95 95);
}
.navbar-expand .navbar-nav .nav-link {
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 600;
}
.navbar-expand .navbar-nav .nav-link button {
  margin: -5px 15px 0px 15px;
}

/* for express-messages & flash */

#messages {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  opacity: 0.9;
}
#messages .error, 
#messages .success,
#messages .meeting_del_success,
#messages .global_invalid {
    padding: 22px 0px;
    color: #fff;
}
#messages .error,
#messages .global_invalid {
    background-color: rgb(224, 37, 54) !important;
}

#messages .success {
  background-color: rgb(42, 131, 1);
}
#messages li {
  list-style: none;
}

/* custom modal */
.modal-backdrop.in{
  opacity: 0.5;
}
@media (min-width: 576px){
  #meetingRefereModal .modal-dialog {
    max-width: 550px;
    min-height: calc(100vh - 40px);
  }
  #signInContainer .modal-dialog {
    max-width: 400px;
  }

  #checkGlobalMeet .modal-dialog {
    max-width: 400px;
  }
}
.modal .modal-content{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
  border-radius: 4px;
  border-top-style: solid;
  border-top-color: rgba(75, 95, 24, 1);
  border-top-width: 5px;
}

.modal .modal-header .close:focus{
  outline: none;
}

.mainContent{
  height: calc(100% - 50px)
}

.mainContainer h1{
  font-family: 'Caviar Dreams';
  font-weight: normal;
}

.mainContainer .description{
  font-size: 18px;
  padding-left: 15px;
}

.profileImage img {
  height: 40px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid transparent;
}
.profileImage img:hover,
.profileImage img:focus {
  border-color: #96bd30;
}

.profileDetails.dropdown-menu {
  min-width: 220px;
  right: 0px;
  left: auto;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.profileDetails.dropdown-menu .profileType {
  font-size: 14px;
  position: absolute;
  right: 10px;
  top : 20px
}
.profileDetails.dropdown-menu a.profileMainInfo {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  color : #272727;
  padding-right: 75px;
}

.profileDetails.dropdown-menu a.profileMainInfo:hover {
  color: #007bff;
}

.profileDetails.dropdown-menu a.singOut:hover {
  background-color: #ffc107;
} 
.intro {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  top: 55px;
  z-index: 2;
}
.intro h1{
  font-weight: 350;
}
@media (max-width: 768px){
  .intro .border-right{
    border-right: transparent !important;
  }
}
@media (max-width: 872px){
  .introPic img {
    width: 100%;
  }
}
#signInContainer .form-control{
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 34px;
  padding: 5px 15px;
  font-size: 14px;
  box-sizing: border-box;
}

#signInContainer .form-control:focus{
  box-shadow: 0 0 0 1.5px rgba(48, 48, 48, 0.3) !important;
}

#signInContainer .modal-header {
  border-bottom : none
}

#meetingRoomSearch{
  background-color: transparent;
  width: 200px;
  box-sizing: border-box;
  color: rgb(46, 46, 46);
  margin-bottom: 5px;
  border-radius: 25px;
  padding: 7px 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-image: initial;
}
#meetingRoomSearch:focus,
#meetingRoomSearch:hover, 
#meetingRoomSearch:active {
  outline: none;
}

#meeting-scroll{
  padding: 7px 0;
  height: 200px;
}

/* meeting card */
.meeting-date{
  display: inline-block;
  color: rgb(91, 100, 111);
  height: 24px;
}

.meeting-card{
    background-color: rgba(235, 235, 235, 0.3);
    margin: 10px 0;
    padding: 15px 0px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    color: #25282d;
    position: relative;
    cursor: pointer;
    text-align: left;
    outline: transparent;
    word-break: break-all;
}

.meeting-card.upcoming{
  padding: 15px 0px;
}

.meeting-card.active{
  background-color: rgb(235, 250, 255);
  border: 2px solid #4285f4;
}

.meeting-card:hover{
  background-color: rgb(235, 250, 255);
}
.meeting-card .meeting-card-time{
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.meeting-card .meeting-card-title{
  font-weight: 500;
}
.meeting-card .meeting-card-desc {
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meeting-details .meeting-details-title{
  font-weight: 500;
}

.count {
  padding: .3rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin-left: .5rem;
  margin-top: -2rem;
  min-width: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: white;
  background: #E27;
}

.list__item {
  display: block;
  padding: 1rem;
  margin: 0 0 1rem 0;
  background: white;
  border-radius: 1rem;
  color: inherit;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.list__item:hover {
  color: #E27 !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.album {
  font-size: 1.25rem;
  color: inherit !important;
  font-weight: 600;
  margin-bottom: .25rem;
}

.meta {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-size: .9rem;
  color: dimgrey;
}
.meta > div {
  padding-right: .5rem;
}
.meta > div:not(:last-child):after {
  content: '·';
  padding-left: .5rem;
  display: inline-block;
}

.controls {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 1rem;
  color: black;
}
.controls > div {
  font-weight: 600;
}
.controls > * {
  margin-right: 1rem;
  color: inherit;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.controls a:hover {
  color: #E27;
}
.controls .sort {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
}
.controls .sort:after {
  display: block;
  opacity: 0;
  content: '';
  margin-left: .25rem;
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.controls .sort.asc, .controls .sort.desc {
  color: #E27;
}
.controls .sort.asc:after {
  opacity: 1;
  content: 'arrow_drop_up';
}
.controls .sort.desc:after {
  opacity: 1;
  content: 'arrow_drop_down';
}

.tags {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: .75rem;
}
.tags div {
  font-weight: 600;
  margin-right: .5rem;
}
.tags .tag {
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  margin-bottom: .5rem;
  margin-right: .5rem;
  color: white;
  background: #999999;
  padding: .2rem .6rem .2rem .6rem;
  font-weight: 600;
  font-size: .9rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 1rem;
  overflow: hidden;
}
.tags .tag:after {
  content: 'x';
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tags .tag.active:after {
  opacity: 1;
  visibility: visible;
  max-width: 2rem;
  margin-left: .4rem;
}
.tags .tag:hover, .tags .tag.active {
  background: #E27;
}

.pageHeader h2{
  font-size: 32px;
  font-weight: 400;
}
.input-meetingId{
  height: 50px;
  text-align: center;
  font-size: 20px;
}
