.marT3{margin-top:3px;}
.marT5{margin-top:5px;}
.marT7{margin-top:7px;}
.marT10{margin-top:10px;}
.marT15{margin-top:15px;}
.marT18{margin-top:18px;}
.marT20{margin-top:20px;}
.marT25{margin-top:25px;}
.marT30{margin-top:30px;}
.marB5{margin-bottom:5px;}
.marB10{margin-bottom:10px;}
.marB15{margin-bottom:15px;}
.marB20{margin-bottom:20px;}
.marB30{margin-bottom:30px;}
.marL4{margin-left:4px;}
.marL10{margin-left:10px;}
.marL15{margin-left:15px;}
.marL25{margin-left:25px;}
.marL30{margin-left:30px;}
.marR4{margin-right:4px;}
.marR10{margin-right:10px;}
.marR15{margin-right:15px;}
.marR30{margin-right:30px;}

.padd0{padding:0px !important;}
@media(max-width:767px){
.paddLR2{padding-left:2px; padding-right:2px;}
}
.padd4{padding:4px !important;}
.padd8{padding:8px !important;}
.paddTB4{padding-top:4px; padding-bottom:4px;}
.paddTB8{padding-top:8px; padding-bottom:8px;}
.paddTB12{padding-top:12px; padding-bottom:12px;}
.paddTB20{padding-top:20px; padding-bottom:20px;}
.paddT30{padding:30px 0px;}

.fL{float:left}
.fR{float:right}
.fW{width:100%}
.W0{width:0px}
.ilb{display: inline-block}

.font8{font-size:8px;}
.font9{font-size:9px;}
.font10{font-size:10px;}
.font11{font-size:11px;}
.font13{font-size:13px;}
.font15{font-size:15px !important;}
.font16{font-size:16px;}
.font18{font-size:18px !important;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font26{font-size:26px;}
.font35{font-size:35px;}
.font30{font-size:30px;}
.font75{font-size:155px;}
.fontb{font-weight:bold;}
.fontn{font-weight:normal;}
.fontSsp{font-family: 'Source Sans Pro', sans-serif; }
.fontORB {font-family: 'Orbitron', sans-serif;}
.fonta{ font-family: Arial, Helvetica, sans-serif;}
.fontTa{ font-family:Tahoma, Geneva, sans-serif;}
/**** rem ****/
.fontRo { font-family: 'Roboto Condensed', sans-serif; }
.fontO {
    font-family: 'open sans', arial, sans-serif;
}
.txtn{ font-style:normal;}
.txtlt{ text-decoration:line-through;}
.txtul{ text-decoration:underline;}

.height45{  height: 43px; }

.txt-ablack{color: #2F4F2F;}
.txt-wht{color:#FFF;}
@media(min-width:767px){
.c-txt-wht{color:#FFF;}
}
@media(max-width:767px){
.c-txt-wht{color:#878787;}
}
.txt-price{color:rgba(206, 67, 0, 1);}
.txt-gray{color:#77838f !important;}
.txt-dgray{color:rgba(170, 164, 164, 1) !important;}
.txt-agray{color: rgb(213, 213, 213);}
.txt-earn{color: rgb(94,148,53)}


.bg-white{background-color:#FFF;}
.bg-p-gray{background-color: rgba(213, 213, 213,0.2)}
.bg-gray{background-color: #eaeaec;}
.bg-agray{background-color: rgb(213, 213, 213);}

.ltborder-pt{border-left:1px solid rgba(153,153,153,0.7);}
.rtborder-pt{border-right:1px solid #FFF;}
.borderR {
	border-right:1px solid rgba(153,153,153,0.7);
}.borderL {
	border-left:1px solid rgba(153,153,153,0.7);
}
.borderT {
	border-top:1px solid rgba(153,153,153,0.7);
}
.borderB {
	border-bottom:1px solid rgba(153,153,153,0.7);
}
.borderTdm{
    border-top:1px solid #e7e7e7;
}
.borderBdm{
    border-bottom:1px solid #e7e7e7;
}
.box-border{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-boderNr{
  border-radius: 3px;
  border: 1px solid #d2d6de;
}

.mr{ position:  relative; }
.mab{ position: absolute; }
.cp{ cursor: pointer;}

span.error{
    font-size: 11px;
    color: #dd4b39;
    font-weight: 700;
    display: inherit;
}

.table td, .table th{
    padding: 0.45rem;
    vertical-align: middle;
}

/* custom slidebar */
@media (min-width: 992px){
  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .sidebar-mini .nav-sidebar .nav-link {
    /* padding-top: 20px;
    padding-bottom: 20px; */
}
  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p {
      margin-left: -10px;
      opacity: 1;
      visibility: unset;
  }

  /* .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused, .sidebar-mini.sidebar-collapse .main-sidebar:hover
  {
    width: 4.6rem;
  } */

  /* .sidebar-mini.sidebar-collapse .main-sidebar .user-panel{
    opacity: 0;
    height: 0px;
  } */


  .nav-sidebar .nav-link p {
    display: block;
    margin: 0;
  }
}
.main-sidebar {
    min-height: 100%;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: rgb(38, 42, 52);
  color: #fff;
}
/* custom content */
.content-wrapper {
  background: rgb(240, 242, 245);
}

/* custom tab */
.nav-tabs {
  border-bottom: 1px solid #aaaaaa;
}
.nav-tabs .nav-link {
  padding: .5rem 0rem;
  border: none;
  font-weight: 500;
  color: #155724;
}
.nav-tabs .nav-link.active {
  background-color: transparent;
}
.nav-tabs .nav-link.active ~ .activeTab {
    transition:  all 0.3s ease-out;
    border-top-color: rgb(246, 141, 46);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 4px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.badge-pill .badge:first-child{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.badge-pill .badge:last-child{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: -4px;
}

label {
  margin-bottom: 0;
}
.form-control:not(.normal),
textarea.form-control:not(.normal) {
  display: block;
  width: 100%;
  height: 34px;
  margin: 0 0 .5rem 0;
  padding: 0px 0px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: text;
}

.form-control:not(.normal) {
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
}

.form-control:not(.normal) ~ label {
  font-size : 12px;
  position: absolute;
  top: 0;
  -webkit-transition: color .2s ease-out,-webkit-transform .2s ease-out;
  transition: color .2s ease-out,-webkit-transform .2s ease-out;
  -o-transition: transform .2s ease-out,color .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
  cursor: text;
  color: #757575;
}
.form-control:not(.normal) ~ label.active{
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
}
.form-control:not(.normal):focus {
    background-color: transparent;
}
textarea.form-control:not(.normal) ~ label.active{
  -webkit-transform: translateY(-16px) scale(.8);
  transform: translateY(-16px) scale(.8);
}

.form-control:placeholder-shown ~ label {
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
}

.form-control.disabled ~ label {
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
}
select.form-control ~ label{
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
}
input[type="file"]{
    margin-top: 15px;
}
input[type="file"] ~ label {
    font-size: 15px;
    font-weight: 700;
    -webkit-transform: translateY(-7px) scale(.8);
    transform: translateY(-7px) scale(.8);
}

.form-control:not(.normal):focus:not([readonly]) {
  -webkit-box-shadow: 0 1px 0 0 #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
  border-bottom: 1px solid #4285f4;
}
.form-control.active ~ label{
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
}
textarea.form-control.active ~ label{
  -webkit-transform: translateY(-16px) scale(.8);
  transform: translateY(-16px) scale(.8);
}

#meetingTime.form-control ~ label,
#meetingDuration.form-control ~ label{
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: translateY(-16px) scale(.8);
  transform: translateY(-16px) scale(.8);
}


/* custom checkbox */
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
input[type="checkbox"] + label {
  color: rgb(76, 83, 93);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
input[type="checkbox"]:checked + label::after {
  background-color: rgb(33, 161, 235);
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

input[type="checkbox"] + label::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: -22px;
  top: 3px;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
}
input[type="checkbox"] + label:empty::after {
  left: -4px;
  top: -13px;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 11px;
  position: absolute;
  left: -16px;
  top: 4px;
  z-index: 1;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-style: none;
  border-left-width: initial;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-style: none;
  transform: rotate(45deg);
}
input[type="checkbox"]:checked + label:empty::before {
  left: 2px;
  top: -12px;
}

.list-unstyled{
    margin-bottom: 0px;
}

div.dataTables_wrapper div.dataTables_info{
    padding-top: 0;
}

button.copy{
  background-color: transparent;
  border: none;
  outline: none;
}

.scheduleMeeting_container.disabled{
  opacity: 0.5;
  pointer-events: none;
}

/* metting room */

.card {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  color: rgb(37, 40, 45);
}

/* meeting card */

.meeting-date{
  display: inline-block;
  color: rgb(91, 100, 111);
  height: 24px;
}

.meeting-card{
    display: block;
    background-color: white;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    color: #25282d;
    position: relative;
    cursor: pointer;
    text-align: left;
    outline: transparent;
    word-break: break-all;
}

.meeting-card.upcoming{
  padding: 15px 0px;
}

.meeting-card.active{
  background-color: rgb(235, 250, 255);
  border: 2px solid #4285f4;
}

.meeting-card:hover{
  background-color: rgb(235, 250, 255);
}
.meeting-card .meeting-card-time{
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.meeting-card .meeting-card-title{
  font-weight: 500;
}
.meeting-card .meeting-card-desc {
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meeting-details .meeting-details-title{
  font-weight: 500;
}

/* for express-messages & flash */

#messages {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  opacity: 0.9;
}
#messages .error, 
#messages .success,
#messages .meeting_del_success {
    padding: 18px 0px;
    color: #fff;
}
#messages .error {
    background-color: rgb(224, 37, 54) !important;
}

#messages .success {
  background-color: rgb(42, 131, 1);
}
#messages .meeting_del_success{
  background-color: rgb(42, 131, 1);
}
#messages li {
  list-style: none;
  /* margin-left: -25px; */
}

/* / for express-messages & flash */

/* for modals */

@media (min-width: 576px){
    #addNewUser .modal-dialog {
      max-width: 676px;
    }

    #createMeeting .modal-dialog {
      max-width: 550px;
      min-height: calc(100vh - 40px);
    }
}
.modal .modal-content{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
  border-radius: 4px;
  border-top-style: solid;
  border-top-color: #96bd30;
  border-top-width: 5px;
}

.modal .modal-header .close:focus{
  outline: none;
}

#inviteUserslist thead tr th:focus{
  outline: none;
}

.checking_updusername,
.checking_updEmail{
    top: 35px;
    right: 15px;
}
.checking_mac,
.checking_updMac,
.checking_username,
.checking_email {
    top: 16px;
    right: 5px;
}